[Unit]
Description=Eqwis systemd service.
Requires=networking.service
After=networking.service

[Service]
Type=simple
TimeoutSec=300
ExecStartPre=/bin/sleep 60
ExecStart=/usr/bin/docker run --net=host --gpus all -v /home/vedant/.nv:/root/.nv -v /home/vedant/projects/docker_yolov5/:/yolov5 -e DISPLAY=$DISPLAY -v /tmp/.X11-unix:/tmp/.X11-unix vedantsrinivas/eqwis:jetson_nano python3 yolov5/standard/eqwis.py

Restart=always

[Install]
WantedBy=multi-user.target